@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.frame1 {
  width: 100vw;
  height: 130vh;
  background-color: #141414;
}
.nav {
  width: 100vw;
  display: flex;
  height: 3rem;
  align-items: center;
  padding-top: 10px;
}
.img {
  margin: 30px;
  width: 150px;
}
ul {
  margin-left: 30rem;
  display: flex;
  color: #235ee6;
}
li {
  margin-right: 50px;
}
li:hover {
  width: 3.5rem;
  height: 1.9rem;
  background-color: #5dffd4;
  border-radius: 0.2rem;
  padding: 0.2rem;
}
.intro {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5rem;
}
.mainlogo {
  color: #5dffd4;
  font-family: Lemon;
  font-size: 3rem;
  margin-right: 5rem;
  text-shadow: 2px 2px 5px red;
}
.para {
  margin-top: 2.5rem;
  color: white;
  font-family: roboto;
  font-size: 1.2rem;
  font-weight: bolder;
}
.explorebtn {
  margin-top: 5rem;
  background-color: #235ee6;
  height: 2.5rem;
  width: 5rem;
  color: white;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  box-shadow: rgba(244, 242, 242, 0.25) 0px 54px 55px,
    rgba(255, 255, 255, 0.12) 0px -12px 30px,
    rgba(255, 253, 253, 0.12) 0px 4px 6px,
    rgba(255, 255, 255, 0.17) 0px 12px 13px,
    rgba(255, 255, 255, 0.09) 0px -3px 5px;
}
.explorebtn:hover {
  transform: scale(1.1);
}
.frame2 {
  width: 100vw;
  height: 17rem;
  background-color: white;
  display: flex;
}
.leftbox {
  width: 50%;
  height: 20rem;
}
.rightbox {
  width: 50%;
  height: 20rem;
}
h2 {
  font-size: 2rem;
  margin: 6rem 0rem 0rem 3rem;
}
h3 {
  font-size: 1.1rem;
  margin: 0rem 0rem 0rem 3rem;
}
.logos {
  display: flex;
  margin-left: 2rem;
}
.sociallogo {
  border-radius: 50%;
  border-radius: 50px;
  margin: 0.5rem 0rem 0rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5rem;
  border: 1px solid #088df3;
}
.sociallogo img {
  width: 1rem;
}
h4 {
  font-size: 1rem;
  margin: 7rem 0rem 0rem 8rem;
  color: #64748b;
}
.contactbox {
  display: flex;
  margin: 0.5rem 0rem 0.5rem 8rem;
}
.contactbox img {
  width: 1.5rem;
  margin-right: 0.5rem;
}
hr {
  width: 70rem;
  margin-left: 5rem;
  border-top: 1px solid #cbd5e1;
}
.copyright {
  font-family: roboto;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  color: #64748b;
}
/* for small screen*/
@media screen and (max-width: 767px) {
  .nav {
    width: 100vw;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    display: grid;
  }
  .img {
    width: 200px;
    height: 100px;
    margin-left: 80px;
  }
  ul {
    flex-wrap: wrap;
    margin-left: 0.2rem;
    display: flex;
    color: #235ee6;
    padding: 1rem 1rem 1rem 1rem;
  }
  li {
    margin: 24px;
  }
  li:hover {
    width: 3.5rem;
    height: 1.9rem;
    background-color: #5dffd4;
    border-radius: 0.2rem;
    padding: 0.2rem;
  }
  .intro {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20rem;
    width: 100vw;
  }
  .mainlogo {
    font-size: 2rem;
  }
  .para {
    width: 16rem;
    margin-top: 2.5rem;
    color: white;
    font-family: roboto;
    font-size: 1rem;
    margin-left: 3rem;
  }
  .frame2 {
    width: 100vw;
    height: 40rem;
    background-color: white;
    display: grid;
  }
  h4 {
    font-size: 1rem;
    margin: 7rem 0rem 0rem 3rem;
    color: #64748b;
  }
  .contactbox {
    width: 10rem;
    display: flex;
    margin: 0.5rem 0rem 0.5rem 3rem;
  }
  hr {
    display: none;
  }
}
